html,
body {

  margin: 0;
  padding: 0;

  overflow: hidden;

  background: #faf8f2;

  font-family:
    "Arial",
    sans-serif;
}

canvas {

  display: block;
}

button {

  font-family:
    inherit;
}
